.fl {
    float: left;
}

.fr {
    float: right;
}


/* 版心 */

.w {
    width: 1200px;
    margin: auto;
}


/* 字体图标 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7kkyc2');
    src: url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?7kkyc2') format('truetype'), url('../fonts/icomoon.woff?7kkyc2') format('woff'), url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fr .icomoon {
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 26px;
}

.style-red {
    color: #c81623;
}


/* 快捷导航栏 */

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.fl li {
    float: left;
    height: 31px;
}

.fr li {
    float: left;
    height: 31px;
}

.fr .spacer {
    height: 12px;
    width: 2px;
    background-color: #666;
    margin: 9px 12px 0;
}


/* header start */

.header {
    position: relative;
    height: 106px;
}

.logo a {
    display: block;
    position: absolute;
    top: 25px;
    width: 175px;
    height: 55px;
    background: url(../img/logo.png) no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    top: 25px;
    left: 348px;
}

.search input {
    float: left;
    width: 445px;
    height: 32px;
    padding-left: 10px;
    border: 2px solid #b1191a;
    color: #ccc;
}

.search button {
    float: left;
    width: 82px;
    height: 36px;
    background-color: #b1191a;
    border: 0;
    color: #fff;
}

.hotwrods {
    position: absolute;
    top: 69px;
    left: 360px;
}

.hotwrods a {
    height: 15px;
    margin: 10px 10px;
    font-size: 12px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 28px;
    width: 138px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    line-height: 35px;
    text-align: center;
}

.car {
    font-family: 'icomoon';
    color: #b1191a;
    margin-right: 5px;
}

.arrow {
    font-family: 'icomoon';
    margin-left: 5px;
}

.count {
    position: absolute;
    top: -5px;
    left: 100px;
    height: 14px;
    padding: 0 3px;
    background-color: #e60012;
    color: #fff;
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
}


/* header end */


/* nav start */

.nav {
    height: 43px;
    border-bottom: 2px solid #b1191a;
}

.dropdown {
    width: 209px;
    height: 45px;
}

.dt {
    width: 209px;
    height: 43px;
    color: #fff;
    text-align: center;
    line-height: 43px;
    background-color: #b1191a;
}

.dd {
    width: 209px;
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.menu_item {
    width: 196px;
    height: 31px;
    line-height: 31px;
    margin-left: 1px;
    padding: 0 10px; 
    transition: all .2;
}


.menu_item:hover {
    padding-left: 20px;
}

.menu_item a {
    font-size: 14px;
    color: #fff;
}

.menu_item i {
    float: right;
    font-family: 'icomoon';
    font-size: 18px;
    color: #fff;
}

.menu_item:hover {
    background-color: #fff;
}

.menu_item:hover a {
    color: #c81623;
}


/* footer start */

.footer {
    height: 386px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 79px;
    border-bottom: 1px solid #ccc;
}

.mod_service li {
    float: left;
    height: 79px;
    width: 240px;
}

.mod_icon {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 35px;
    background: url(../img/icons.png) no-repeat;
}

.mod_icon_zhengping {
    background-position: -253px -3px;
}

.mod_service_items {
    float: left;
    margin-left: 5px;
}

.mod_service_items h5 {
    margin: 5px 0;
}

.mod_help {
    height: 188px;
    border-bottom: 1px solid #ccc;
}

.mod_help_items {
    float: left;
    width: 150px;
    padding: 20px 0 0 50px;
}

.mod_help_items dt {
    font-size: 16px;
    height: 25px;
}

.mod_help_items dd {
    height: 22px;
}

.mod_help_img {
    text-align: center;
}

.mod_help_img img {
    border: 0;
    margin: 7px 0;
}

.mod_copyright {
    text-align: center;
}

.copyright_links {
    margin: 15px 0 5px 0;
}

.copyright_info {
    line-height: 18px;
}