/* main start */

.main {
    width: 980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}

.fcous {
    position: relative;
    width: 721px;
    height: 455px;
}

.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, .3);
    font-family: 'icomoon';
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.arrow-r {
    right: 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /* background-color: #fff; */
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}

.circle .current {
    background-color: #fff;
}

.newsflash {
    width: 250px;
    height: 455px;
}

.news {
    height: 163px;
    border: 1px solid #ccc;
}

.news-hd {
    height: 32px;
    border-bottom: 1px dotted #ccc;
    padding: 0 15px;
    font-size: 14px;
    line-height: 32px;
}

.news-hd a {
    float: right;
    font-size: 12px;
    font-family: 'icomoon'
}

.news-bd {
    padding: 10px 0 0 15px;
}

.news-bd li {
    height: 23px;
}

.lifeservice {
    overflow: hidden;
    height: 208px;
    border: 1px solid #ccc;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice li {
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.lifeservice li a {
    display: block;
    overflow: hidden;
    height: 100%;
}

.lifeservice li p {
    text-align: center;
}

.life_icon {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/icons.png) no-repeat;
    margin: 10px auto;
}

.service_huafei {
    background-position: -17px -16px;
}

.bargin {
    width: 250px;
    height: 75px;
    margin-top: 5px;
}


/* recommed start */

.recommend {
    height: 163px;
    margin-top: 10px;
    background-color: #ebebeb;
}

.recom-hd {
    width: 200px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
}

.recom-hd img {
    margin: 30px 0 10px 0;
}

.recom-hd h3 {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

.recom-bd {
    width: 1000px;
    height: 163px;
}

.recom-bd li{
    float: left;
    width: 248px;
    height: 148px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
    
}
.recom-bd .last {
    border-right: 0;
}

/* floor start  */
.box-hd {
    height: 30px;
    margin-top: 25px;
    border-bottom: 2px solid red;
    padding-right: 10px;
   
}
.box-hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}
.box-hd-item {
    float: right;
    line-height: 30px;
}

.box-hd-item li {
    float: left;
    
}
.box-hd-item a{
    margin: 0 5px;
}

.box-bd li {
    overflow: hidden;
}

.box-bd img {
    transition: all .2;
}

.box-bd img:hover {
    margin-left: 8px;
}

.box-bd {
    height: 361px;
    /* background-color: pink; */
}

.w209 {
    width: 209px;
}

.w329 {
    width: 329px;
}

.w219 {
    width: 219px;
    border-right: 1px solid #ccc;
}

.w220 {
    width: 220px;
    border-right: 1px solid #ccc;
}

.box-bd li {
    float: left;
}

.box-bd-item {
    border-bottom: 1px solid #ccc;
}

.box-bd-list li {
    width: 86px;
    height: 32px;
    border-bottom: 1px solid #ccc;
    line-height: 32px;
    margin: 5px 0 0 5px;
    text-align: center;
}

.fixedtool {
    position: fixed;
    top: 183px;
    left: 0;
}

.fixedtool li {
    width: 65px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}

.fixedtool .style-b-red a {
    color: #fff;
    
}
.style-b-red {
    background-color: #c81623;
}